boot/boot_serial @nordicjm @de-nordic
boot/bootutil @davidvincze
boot/cypress @romanjoe
boot/espressif @almir-okato
boot/mbed @AGlass0fMilk
boot/mynewt @kasjer
boot/muttx @michallenc
boot/zcbor @nordicjm @de-nordic
boot/zephyr @nordicjm @de-nordic
* @d3zd3z
